nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px;
  color: white;
}

nav a {
  margin-right: 20px;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.mov{
  display:flex;
  flex-direction: column;
  margin-right: 15px;
  padding-left: 20px;
  padding-bottom: 25px;

}

.mov img {
  width: 200px;
  flex-basis: 20%;
  
  
}

.links{
  font-size:large;
}
.movie-container {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-top:20px;
  
  
}
.mov-det{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  
}

.mov button{
 width: 70px;
 height: 30px;
 
 border-radius:8px ;
 margin-top: 5px;
 
}
.hero img{
  padding-top: 30px;
  display:flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
}

.text{
   width: 400px;
   
}

.genre{
 padding-left: 40px;
 font-size:x-large;
 padding-top:50px;
}